body{
    background-color: #77A0A9;
    margin: 0 20% 0 20%;
}

a {
    color: black;
}

li {
    list-style: none;
}

.flexbox {
    display: flex;
}

.collum {
    flex-direction: column;
}

#indice {
    justify-content: space-around;
}

#indice a {
    padding: 0 30px;
    background-color: #6F7D8C;
    border-radius: 4px;
}

#name {
    font-family: cursive;
    text-align: center;
}

#foto {
    height: 350px;
    padding: 10px;
    background-color: #6F7D8C;
}

.text_center {
    font-family: sans-serif;
    text-align: center;
}

#sobre_texto {
    font-family: monospace;
}

#nacionalidade {
    font-style: italic;
}

#onde_moro {
    font-style: italic;
}

.foto_sobre {
    display: flex;
    height: 370px;
}
