body{
    background-color: cyan;
}
#igor{
    font-family: cursive;
}
#sobre{
    font-family: sans-serif;
}
#sobre_texto{
    font-family: monospace;
}
#nacionalidade{
    font-style: italic;
}
#onde_moro{
    font-style: italic;
}
.habilidade_1{
    font-size: 20px
}
.habilidade_2{
    font-size: 25px
}
.habilidade_3{
    font-size: 30px
}
.habilidade_4{
    font-size: 35px
}