body{
    background-color: #77A0A9;
    margin: 0 20% 0 20%;
}
#igor{
    font-family: cursive;
    text-align: center;
}
#foto{
    height: 350px;
    float: left;
    padding: 10px;
    background-color: #6F7D8C;
}
#sobre{
    font-family: sans-serif;
}
#sobre_texto{
    font-family: monospace;
}
#nacionalidade{
    font-style: italic;
}
#onde_moro{
    font-style: italic;
}
.foto_sobre{
    height: 370px;
}

/* Habilidades */
.habilidade_1{
    font-size: 20px;
    font-family: cursive
}
.habilidade_2{
    font-size: 25px;
}
.habilidade_3{
    font-size: 30px;
    font-family: arial;
}
.habilidade_4{
    font-size: 35px;
}